@model YungchingDemo.Models.ResultModel

<div class="row well">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="projectID" class="col-md-2 control-label">專案案號</label>
            <div class="col-md-2">
                <input type="text" id="projectID" name="projectID" class="form-control" placeholder="輸入專案案號" maxlength="10" value="@Model.ProjectID" />
            </div>
        </div>
        <div class="form-group">
            <label for="projectName" class="col-md-2 control-label">專案名稱</label>
            <div class="col-md-6">
                <input type="text" id="projectName" name="projectName" class="form-control" placeholder="輸入專案名稱" maxlength="40" value="@Model.ProjectName" />
            </div>
            <label for="type" class="col-md-1 control-label">房屋種類</label>
            <div class="col-md-2">
                <select id="type" name="type" class="form-control">
                    <option value="">請選擇房屋種類</option>
                    <option value="01" selected="@(Model.Type == "01")">住宅</option>
                    <option value="02" selected="@(Model.Type == "02")">商業</option>
                    <option value="03" selected="@(Model.Type == "03")">工業</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-md-2 control-label">房屋地址</label>
            <div class="col-md-10">
                <input type="text" id="address" name="address" class="form-control" placeholder="輸入房屋地址" maxlength="40" value="@Model.Address" />
            </div>
        </div>
        <div class="form-group">
            <label for="square" class="col-md-2 control-label">房屋坪數</label>
            <div class="col-md-2">
            <div class="input-group">
                <input type="number" id="square" name="square" class="form-control" placeholder="輸入房屋坪數" step="0.01" max="999" min="0" value="@Model.Square" />
                <span class="input-group-addon">坪</span>
            </div>
            </div>
            <label for="publicRatio" class="col-md-2 control-label">公設比</label>
            <div class="col-md-2">
            <div class="input-group">
                <input type="number" id="publicRatio" name="publicRatio" class="form-control" placeholder="輸入公設比 (%)" step="0.01" max="99" min="0" value="@Model.PublicRatio" />
                <span class="input-group-addon">%</span>
            </div>
            </div>
            <label for="price" class="col-md-2 control-label">房屋價錢(萬)</label>
            <div class="col-md-2">
            <div class="input-group">
                <input type="number" id="price" name="price" class="form-control" placeholder="輸入房屋價錢 (萬)" step="1" max="99990000" min="0" value="@Model.Price" />
                <span class="input-group-addon">萬</span>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label for="haveSpace" class="col-md-2 control-label">是否附停車位</label>
            <div class="col-md-4">
                <label class="radio-inline">
                    <input type="radio" id="haveSpaceYes" name="haveSpace" checked="@(Model.HaveSpace == "1")" /> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" id="haveSpaceNo" name="haveSpace" checked="@(Model.HaveSpace == "0")" /> 否
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="remark" class="col-md-2 control-label">備註</label>
            <div class="col-md-10">
                <textarea id="remark" name="remark" class="form-control" placeholder="輸入備註">@Model.Remark</textarea>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">確定</button>
        </div>
    </form>
</div>
